---
import BaseLayout from "../../../layouts/BaseLayout.astro";
---
<BaseLayout title="ACTAH Ping" lang="en" dir="ltr">
  <h1>ACTAH Ping</h1>
  <p>If you can see this, the ACTAH section routes are working.</p>
</BaseLayout>