---
const { id, title = 'YouTube video' } = Astro.props;
---
<div class="my-6 aspect-video w-full">
  <iframe
    src={`https://www.youtube.com/embed/${id}`}
    title={title}
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen
    class="w-full h-full border-0"
  ></iframe>
</div>
