---
/**
 * Youtube.astro
 * Props:
 * - id: YouTube video ID (e.g., "dQw4w9WgXcQ")
 * - title: accessible title for the iframe
 * - ratio: aspect ratio (default "16/9")
 */
const { id, title = "YouTube video", ratio = "16/9" } = Astro.props;
const src = `https://www.youtube.com/embed/${id}`;
---
<div class="relative w-full" style={`aspect-ratio:${ratio}`}>
  <iframe
    src={src}
    title={title}
    class="absolute inset-0 w-full h-full"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen
    loading="lazy"
  ></iframe>
</div>
